.HeroItemContainer {
    justify-self: start;
    width: 14.0625rem;
    height: 7.9375rem;
    position: relative;
    box-shadow: 0.0625rem 0.0625rem 0.25rem #000;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.35s ease-in-out, width 0.35s ease-in-out;
    will-change: transform;
    overflow: hidden;

    &:hover {
        transform: scale(1.4);
        z-index: 1;
    }

    &:hover .HeroInfo {
        opacity: 1;
        height: auto;
        transition-delay: 0s;
        animation-name: show-hero-name;
        animation-duration: 0.2s;
        transition: ease-in-out;
    }
}

.HeroLink {
    display: block;
    width: 100%;
    height: 100%;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    z-index: 0;
    margin-bottom: 1.25rem;
    box-shadow: 0.0625rem 0.0625rem 0.25rem #000;
    filter: saturate(0.8);
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        filter: saturate(1);
    }
}

.HeroInfo {
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    width: 100%;
    align-items: center;
    animation-name: hide-hero-name;
    animation-duration: 0.2s;
    transition: ease-in-out;
    will-change: transform;
    z-index: 0;
}

.AttrIconContainer {
    height: 2.625rem;
    width: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeroAttrImg {
    width: 1.875rem;
    height: 1.875rem;
    transform: scale(1);
}

.HeroName {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-family: "Reaver-Bold", serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    padding: 0.5rem;
    padding-left: 0rem;
    text-shadow: 0rem 0rem 0.25rem #000;
    white-space: normal;
    width: 10.4375rem;
}

@keyframes show-hero-name {
    0% {
        opacity: 0;
        transform: translateY(2.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes hide-hero-name {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(1.875rem);
        z-index: -1;
    }
}