.HeroList {
    max-width: 75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.125rem;
    row-gap: 0.875rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: 3.125rem;
    animation-name: list-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition: height 1s ease-in-out, transform 1s ease-in-out;
    will-change: transform;
}

.HeroItem {
    &Enter {
        transform: scale(0);
        width: 0;
    }

    &EnterDone, &EnterActive {
        transform: scale(1);
        width: 14.0625rem;
    }

    &Exit {
        transform: scale(1);
        width: 14.0625rem;
    }

    &ExitActive {
        transform: scale(0);
        width: 0;
    }

    &ExitDone {
        transform: scale(0);
    }
}

@keyframes list-animation {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}